{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}
  {% block information %} {# block information #}
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Editeur</h3>
        </div>

        <div class="panel-body">Vous êtes actuellement connecté sur le site officiel de Crêpe à GoGo, édité par l'ENSIBS.</div>

        <div class="panel-heading">
            <h3 class="panel-title">Droit d'auteur</h3>
        </div>

        <div class="panel-body">
          	Toute reproduction (transfert sur un autre support) des informations ou images du site web est exclusivement limité à l'usage personnel et privé des utilisateurs du réseau internet. 
        </div>

        <div class="panel-body">
          	Toute reproduction ou utilisation de la totalité ou d'une partie substantielle des données du site web est strictement interdite et susceptible de poursuites.
        </div>

        <div class="panel-body">
          	La violation des ces dispositions impératives soumet le contrevenant, et toutes les personnes responsables, aux peines pénales et civiles prévues par la Loi française.
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">Responsabilité</h3>
        </div>

        <div class="panel-body">
          	ENSIBS prend toutes les dispositions pour finir aux internautes un service de qualité et une information fiable, exacte, et exhaustive. Aucune garantié explicite ou implicite n'est néamoins apporté sur ce sujet.
        </div>

    </div>

  {% endblock %}{# fin block information #}

  {% block javascripts %} {# block javascript #}
    <script>
        (function() {
            var updateButton = document.getElementById('updateDetails');
            var cancelButton = document.getElementById('cancel');

            // Update button opens a modal dialog
            updateButton.addEventListener('click', function() {
                document.getElementById('favDialog').showModal();
            });

            // Bouton pour fermer la boîte de dialogue
            cancelButton.addEventListener('click', function() {           
                document.getElementById('favDialog').close();
                
            });

        })();
    </script>
  {% endblock %} {# fin block javascript #}

<!--
{% set check = true %}
{% if check %}
<a class="btn btn-lg btn-success" href="{{path('inscription')}}" role="button">Get started today</a>
{% else %}
<a class="btn btn-lg btn-warning" href="#" role="button">Get started tomorrow</a>
{% endif %}-->


{% endblock %} {# fin block body #}
