{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}

  <h2>Suppression de compte</h2>

    <div class="row">

      <div class="col"></div>

      <div class="col-6">
        <p>Etes-vous certain de vouloir supprimer votre compte ?</p>

        <form action="{{ path('deleteUser', {'id': user.id}) }}" method="post">
          <a href="{{ path('showUser', {'id': user.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour
          </a>
          <input type="submit" value="Supprimer" class="btn btn-danger" />
          {{ form_rest(form) }}
        </form>
      </div>

      <div class="col"></div>

    </div>

{% endblock %}