{% extends 'PancakeBundle::layout.html.twig' %}




{% block body %}
    {% block images %} {# block image #}
    <div class="row">

        {% for i in pancakes %}
            <div class="col-md-6">
             
            <a  href="{{path('details-crepe',{ 'id': i.id})}}">
                {% if i.pancake == true %}
                <img src="{{i.image}}"  alt="pancake 1" title="Pancake" style="margin-left:13%;" />
            </a>
                <center>
                    <p>{{i.name}}</p>
                    <p>{{i.price}}</p>
                </center>
                {% endif %}
        </div>
        {% endfor %}



        
        

        {% endblock %} {# fin block image #}

{% endblock %}{# fin block body #}