{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}


  {% block information1 %} {# block information #}
    <div class="row presentation-image">
        <div class="col" > {#  div col-4 #}

        </div>

        <div class="col-8" > {#  div col-4 #}


            <section> {# Partie1 #}
            <a><img class="d-block " src="/bundles/images/champsBle.jpg" width="" alt="First slide"> </a>
                <a><img class="d-block " src="/bundles/images/Main-farine1.jpg" width="" alt="First slide"> </a>
        </section>
        </div>


        <div class="col" > {#  div col-4 #}

        </div>
    </div>
  {% endblock %}{# fin block information #}

{# BAS DE PAGE #}   

{% endblock %} {# fin block body #}
