{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}


  {% block information1 %} {# block information #}
    <div class="presentation-image">
        <section> {# Partie1 #}
            <a><img class="d-block " src="/bundles/images/champsBle.jpg" width="" alt="First slide"> </a>
            
        </section>


        <section> {# Partie2 #}
            <a><img class="d-block " src="/bundles/images/Main-farine1.jpg" width="" alt="First slide"> </a>

    </section>
    </div>
  {% endblock %}{# fin block information #}

{# BAS DE PAGE #}   

{% endblock %} {# fin block body #}
