{% extends 'PancakeBundle::layout.html.twig' %}

{% block body %}


  {% block information1 %} {# block information #}
    <div class="presentation-image">
        <section> {# Partie1 #}
            <a><img class="d-block " src="/bundles/images/champsBle.jpg" width="" alt="First slide"> </a>
            <description1> Utilisation de farine bio </description1>
        </section>


        <section> {# Partie2 #}
            <a><img class="d-block " src="/bundles/images/Main-farine1.jpg" width="" alt="First slide"> </a>
            <description2> une qualité présente </description2>
    </section>
    </div>
  {% endblock %}{# fin block information #}

{# BAS DE PAGE #}   

<div class="footer">

    <div class="copyrights">
            <p class="white-txt">Crêpe à gogo ! © 2017
                <br><br>
                
            </p>
            <hr class="dark-line">
            <a class="link" href="#">Contact Us</a>&nbsp
            <a class="link" href="#">Privacy Policy</a>&nbsp
            <a class="link" href="#">Terms & Conditions</a>

            <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
            <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>

            <br><br>
            <p class="white-txt small">
                Toute reproduction du site Crêpe à gogo ! est formellement interdite !
            </p>
        </div>

    
</div>

{% endblock %} {# fin block body #}
